@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Light.woff2") format("woff2"),
            url("../fonts/causten/Causten-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Regular.woff2") format("woff2"),
            url("../fonts/causten/Causten-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Medium.woff2") format("woff2"),
            url("../fonts/causten/Causten-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-SemiBold.woff2") format("woff2"),
            url("../fonts/causten/Causten-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Bold.woff2") format("woff2"),
            url("../fonts/causten/Causten-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Core Sans C";
    src:
            url("../fonts/coresansc/CoreSansC-Medium.woff2") format("woff2"),
            url("../fonts/coresansc/CoreSansC-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Core Sans C";
    src:
            url("../fonts/coresansc/CoreSansC-Bold.woff2") format("woff2"),
            url("../fonts/coresansc/CoreSansC-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Core Sans C";
    src:
            url("../fonts/coresansc/CoreSansC-ExtraBold.woff2") format("woff2"),
            url("../fonts/coresansc/CoreSansC-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}