@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url("reset.css");

body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: "Agbalumo", sans-serif;
    font-size: 26px;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    margin-bottom: 100px;
}

.menu > *:not(:last-child) {
    margin-right: 20px;
}

.menu__item {
    display: inline-block;
}

.menu__item:hover {
    color: #efddf8;
}

.main {
    margin-bottom: 100px;
}

.block--mb > *:not(:last-child) {
    margin-bottom: 100px;

}

.block__practice {
    text-align: center;
    font-size: 0;
}

.practice__container div:not(:last-child) {
    margin-right: 40px;
}

.block__practice > div:not(:last-child) {
    margin-bottom: 40px;
}

.practice__box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: white;
}

.practice__child {
    width: 200px;
    height: 200px;
    opacity: 0;
}

.practice__child--translate:hover {
    opacity: 1;
    background-color: #efddf8;
    transform: translate(20px, 20px);
}

.practice__title {
    font-size: 26px;
    text-align: center;
}

.practice__box:hover .practice__child--scale {
    opacity: 1;
    background-color: #efddf8;
    transform: scale(1.2);
}

.practice__box:hover .practice__child--rotate {
    opacity: 1;
    background-color: #efddf8;
    transform: rotate(45deg);
}

.practice__box:hover .practice__child--skew {
    opacity: 1;
    background-color: #efddf8;
    transform: skew(20deg, 20deg);
}

.practice__box:hover .practice__child--transform-origin {
    opacity: 1;
    background-color: #efddf8;
    transform-origin: 0 0;
    transform: rotate(10deg);
}

.practice__box--perspective {
    perspective: 1000px;
    perspective-origin: center;
}

.practice__box--perspective:hover .practice__child--perspective {
    opacity: 1;
    background-color: #efddf8;
    transform: rotateY(45deg);
}

.practice__box--perspective:hover .practice__child--perspective3D {
    opacity: 1;
    background-color: #efddf8;
    transform: translate3d(10px, 10px, 20px) scale3d(0.5, 0.5, 0.5);
}

.practice__box--perspective-transform-style {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.practice__child--perspective3D-transform-style {
    transform: rotateY(180deg);
    transition: all 0.3s ease 0s;
}

.practice__box--perspective-transform-style:hover .practice__child--perspective3D-transform-style {
    opacity: 1;
    background-color: #efddf8;
    transform: rotateY(0deg);

}

.block__car {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(96, 65, 113, 1) 0%, rgba(15, 12, 56, 1) 100%);
    border-radius: 20px;
}

.star__item {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
}

.star__item--one {
    position: absolute;
    top: 100px;
    left: 100px;
}

.star__item--two {
    position: absolute;
    top: 200px;
    left: 200px;
}

.star__item--three {
    position: absolute;
    top: 150px;
    left: 300px;
}

.star__item--four {
    position: absolute;
    top: 200px;
    right: 400px;
}

.star__item--five {
    position: absolute;
    top: 150px;
    right: 150px;
}

.star__item--six {
    position: absolute;
    top: 67px;
    right: 264px;
}

.star__item--seven {
    position: absolute;
    top: 106px;
    left: 461px;
}

.star__item--eight {
    position: absolute;
    top: 81px;
    left: 260px;
}

.star__item--nine {
    position: absolute;
    top: 200px;
    left: 500px;
}

.star__item--ten {
    position: absolute;
    top: 50px;
    right: 50px;
}

.box__land {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
    background: radial-gradient(circle, rgba(99, 108, 163, 1) 0%, rgba(66, 69, 104, 1) 100%);
}

.land__stone {
    position: absolute;
    width: 100px;
    height: 61px;
    bottom: 22px;
    left: 213px;
    background: radial-gradient(circle, rgba(123, 101, 78, 1) 0%, rgba(61, 53, 32, 1) 100%);
    border-radius: 113px 107px 47px 61px;
    border: 1px solid #000;
}

.land__stone--small {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 22px;
    left: 198px;
    background: radial-gradient(circle, rgba(123, 101, 78, 1) 0%, rgba(61, 53, 32, 1) 100%);
    border-radius: 113px 107px 47px 61px;
    border: 1px solid #000;
}

.land__road {
    width: 100%;
    height: 20px;
    border: 1px solid #000;
    background: radial-gradient(circle, rgba(123, 101, 78, 1) 0%, rgba(61, 53, 32, 1) 100%);
}

.land__road--top {
    position: absolute;
    top: 21px;
    left: 0;
}

.land__road--small {
    position: absolute;
    top: 41px;
    left: 0;
}

.land__grass {
    position: absolute;
    top: 59px;
    right: 0;
    width: 300px;
    height: 60px;
    border-radius: 66px 0 0 6px;
    background-color: #1e2213;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.land__grass--top {
    top: 102px;
    width: 392px;
    height: 31px;
    border-radius: 91px 0 0 28px;

}

.land__grass--bottom {
    top: 127px;
    width: 444px;
    height: 31px;
    border-radius: 91px 10px 41px 28px;
}

.mountain__item {
    position: absolute;
    width: 80px;
    height: 147px;
    bottom: 144px;
    left: 0;
    border-radius: 10px 40px 0 0;
    background-color: #000;
}

.mountain__item--two {
    width: 83px;
    height: 86px;
    left: 79px;
    border-radius: 16px 26px 0 0;
}

.mountain__item--three {
    width: 100px;
    height: 56px;
    left: 160px;
    border-radius: 14px 7px 0 0;
}

.mountain__item--four {
    width: 129px;
    height: 17px;
    left: 239px;
    border-radius: 26px 30px 0 0;
}

.car__body {
    position: absolute;
    bottom: 162px;
    right: 172px;
    border-bottom: 100px solid #ddaaee;
    border-left: 31px solid transparent;
    border-right: 63px solid transparent;
    height: 0;
    width: 209px;

}

.car__body-one {
    position: absolute;
    bottom: -99px;
    right: -62px;
    width: 0;
    height: 0;
    border-top: 60px solid #ddaaee;
    border-left: 60px solid transparent;
}

.car__line-one {
    position: absolute;
    bottom: -52px;
    right: 81px;
    width: 105px;
    height: 5px;
    background-color: black;
    transform: rotate(107deg);
}

.car__line-two {
    position: absolute;
    bottom: -4px;
    right: -2px;
    width: 122px;
    height: 5px;
    background-color: black;
}

.car__line-three {
    position: absolute;
    bottom: -23px;
    right: -39px;
    width: 49px;
    height: 5px;
    background-color: black;
    transform: rotate(236deg);
}

.car__line-four {
    position: absolute;
    bottom: -42px;
    right: -63px;
    width: 37px;
    height: 5px;
    background-color: black;
}

.car__line-five {
    position: absolute;
    bottom: -78px;
    right: -103px;
    width: 64px;
    height: 19px;
    background-color: black;
    transform: rotate(90deg);
}

.car__line-six {
    position: absolute;
    bottom: -103px;
    right: -80px;
    width: 230px;
    height: 5px;
    background-color: black;
}

.car__headlight {
    position: absolute;
    right: -75px;
    bottom: -98px;
    width: 8px;
    height: 22px;
    background-color: #fec343;
}

.car__wheel-top {
    position: absolute;
    right: 141px;
    bottom: -84px;
    width: 17px;
    height: 66px;
    border-radius: 20px;
    background-color: #000;
    transform: rotate(18deg);
}

.car__window {
    right: -3px;
    position: absolute;
    bottom: -44px;
    border-bottom: 33px solid rgba(96, 65, 113, 1);
    border-left: 10px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 106px;
}

.car__line-window {
    position: absolute;
    bottom: -30px;
    right: 80px;
    width: 34px;
    height: 5px;
    background-color: black;
    transform: rotate(107deg);
}

.car__line-window-two {
    position: absolute;
    bottom: -16px;
    right: 21px;
    width: 73px;
    height: 5px;
    background-color: black;
}

.car__line-window-three {
    position: absolute;
    bottom: -30px;
    right: -8px;
    width: 39px;
    height: 5px;
    background-color: black;
    transform: rotate(232deg);
}

.car__line-window-four {
    position: absolute;
    bottom: -45px;
    right: -2px;
    width: 105px;
    height: 5px;
    background-color: black;
}

.car__line-window-five {
    position: absolute;
    bottom: -31px;
    right: 52px;
    width: 32px;
    height: 5px;
    background-color: black;
    transform: rotate(90deg);
}

.car__line-window-five--right {
    right: 21px;
}

.car__line-wheel {
    position: absolute;
    bottom: -100px;
    right: 74px;
    width: 50px;
    height: 25px;
    border-radius: 100px 100px 0 0;
    border-top: 5px solid rgba(96, 65, 113, 1);
    border-left: 5px solid rgba(96, 65, 113, 1);
    border-right: 5px solid rgba(96, 65, 113, 1);

}

.car__line-wheel--right {
    right: -37px;
}

.car__line-wheel--black {
    bottom: -100px;
    right: 71px;
    width: 55px;
    height: 30px;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
}

.car__line-wheel--black-right {
    right: -40px;
}

.car__wheel {
    position: absolute;
    bottom: -129px;
    right: 74px;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    background-color: #000;
}

.car__wheel--right {
    right: -37px;
}

.car__wheel--white {
    bottom: -118px;
    right: 84px;
    width: 31px;
    height: 31px;
    background-color: #f5f3f6;
}

.car__wheel--white-right {
    right: -27px;
}

.footer {
    padding: 40px;
}



