@import "reset.css";
@import "fonts.css";

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

//color
$headerColor: #000;

$buttonHover: #1b4c59;

$mainBackgroundColor: #ffff;
$secondBackgroundColor: #0E333D;

//header
.header {
  font-family: "Merriweather", serif;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(131, 131, 131, 0.21);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  color: $headerColor;
  background-color: $mainBackgroundColor;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    min-height: 96px;

    @media (max-width: 990px) {
      min-height: 50px;
      column-gap: 10px;
    }
  }

  &__logo {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    @media (max-width: 1165px) {
      font-size: 26px;
    }
  }

  &__button {
    position: relative;
    z-index: 10;
    padding: 12px 29px 14px 26px;
    color: $mainBackgroundColor;
    font-weight: 700;
    border-radius: 5px;
    background-color: $secondBackgroundColor;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $buttonHover;
      }
    }

    @media (max-width: 440px) {
      padding: 10px 9px 12px 9px;
      font-size: 16px;
    }
  }

  &__group-button {
    @media (max-width: 990px) {
      display: flex;
      align-items: center;
      gap: 36px;
    }

    @media (max-width: 440px) {
      gap: 10px;
    }
  }
}

.menu {
  &__body {
    @media (max-width: 990px) {
      position: fixed;
      top: 0;
      left: 100%;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 70px 15px 30px 15px;
      background-color: rgba(255, 255, 255, 0.88);
      transition: left 0.3s;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 60px;
        background-color: #fff;
        z-index: 2;
        transition: left 0.3s;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    row-gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 990px) {
      flex-direction: column;
      align-items: flex-end;
      row-gap: 25px;
    }
  }

  &__item {
    @media (any-hover: hover) {
      &:hover {
        .menu__link {
          text-decoration-line: underline;
        }
      }
    }

    &.menu__link {
      font-size: 18px;
    }

    @media (max-width: 990px) {
      color: #000000;

      &.menu__link {
        font-size: 26px;
      }
    }
  }

  &__item--active {
    &.menu__link {
      text-decoration: solid underline $mainBackgroundColor;
      font-weight: 700;
    }
  }

  &__item {
    &--arrow {
      position: relative;
      @media (any-hover: hover) {
        &:hover {
          &.menu__link {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }

        &.sub-menu {
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0);
          pointer-events: all;
        }
      }

      .menu__link {
        display: flex;
        align-items: center;
        gap: 4px;

        &::after {
          content: "";
          flex: 0 0 16px;
          width: 16px;
          height: 8px;
          background: url("../img/arrow.jpg") no-repeat center center;
          transition: transform 0.3s;
        }
      }

      @media (max-width: 990px) {
        &.menu__link {
          display: block;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.menu-open {
  body {
    overflow: hidden;
  }

  @media (max-width: 990px) {
    &.menu__body {
      &::before {
        left: 0;
      }
    }

    &.icon-menu {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }

      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
    }
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  pointer-events: none;

  &__list {
    padding: 10px;
    width: 200px;
    color: $mainBackgroundColor;
    border-radius: 4px;
    background-color: $secondBackgroundColor;

    > li:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: 990px) {
      position: relative;
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
      color: #000;
    }
  }

  &__link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 990px) {
      font-size: 24px;
    }
  }

  &__item {
    @media (max-width: 990px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.icon-menu {
  display: none;

  @media (max-width: 990px) {
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;

    &::before,
    &::after,
    span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: #000;
      transition: transform 0.3s;
    }

    &::before {
      top: 0;
    }

    span {
      top: 50%;
      margin-top: -1px;
    }

    &::after {
      bottom: 0;
    }
  }
}