@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Regular.woff2") format("woff2"),
            url("../fonts/causten/Causten-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Regular.woff2") format("woff2"),
            url("../fonts/causten/Causten-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
            url("../fonts/causten/Causten-Regular.woff2") format("woff2"),
            url("../fonts/causten/Causten-Regular.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Core Sans C";
    src:
            url("../fonts/coresansc/CoreSansC-SemiBold.woff2") format("woff2"),
            url("../fonts/coresansc/CoreSansC-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}