@import "reset.css";
@import "fonts.css";
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  color: #807D7E;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 3px;
  border-bottom: 1px solid #BEBCBD;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}
.header__container {
  display: flex;
  min-height: 105px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 990px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 678px) {
  .header__container {
    gap: 5px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 1200px) {
  .header {
    font-size: 20px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 10px;
}
@media (max-width: 1200px) {
  .menu__list {
    column-gap: 15px;
  }
}
@media (max-width: 990px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 25px;
  }
}
.menu__item--active {
  color: #3C4242;
  font-weight: 700;
}
.menu__link::after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3C4242;
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 990px) {
  .menu__link {
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 80px 15px 30px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: left 0.3s;
  }
}
.menu__body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 2;
  transition: left 0.3s;
}
@media (max-width: 678px) {
  .menu__body {
    padding: 140px 15px 30px 15px;
  }
}

.menu-open body {
  overflow: hidden;
}
@media (max-width: 990px) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}
@media (max-width: 678px) {
  .menu-open .search {
    left: 0;
  }
}

.search {
  flex: 0 1 267px;
  position: relative;
}
.search__input {
  padding: 12px 20px 12px 44px;
  background-color: #F6F6F6;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.search__input ::placeholder {
  font-family: "Causten", sans-serif;
  font-size: 16px;
  color: #807D7E;
}
@media (any-hover: hover) {
  .search__input:hover {
    background-color: rgba(222, 222, 222, 0.87);
  }
}
@media (max-width: 678px) {
  .search__input {
    width: 100%;
  }
}
@media (max-width: 678px) {
  .search {
    position: fixed;
    flex-basis: 100%;
    width: 100%;
    height: 44px;
    top: 75px;
    left: 100%;
    padding: 0 20px;
    transition: all 0.3s;
  }
}
.search__icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
}
@media (max-width: 678px) {
  .search__icon {
    left: 45px;
  }
}

.action {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.action__link {
  padding: 12px;
  width: 44px;
  flex: 0 0 44px;
  border-radius: 8px;
  background-color: #F6F6F6;
  transition: background-color 0.3s;
}
.action__link img {
  max-width: 100%;
}
@media (any-hover: hover) {
  .action__link:hover {
    background-color: rgba(222, 222, 222, 0.87);
  }
}
@media (max-width: 500px) {
  .action__link {
    padding: 8px;
    width: 35px;
    flex: 0 0 35px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 990px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #807D7E;
    transition: transform 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::after {
    bottom: 0;
  }
}

.main {
  padding-top: 109px;
}
.main > *:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 545px) {
  .main > *:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 990px) {
  .main {
    padding-top: 70px;
  }
}

.hero {
  position: relative;
  min-height: calc(100vh - 109px);
  background-color: #01b5da;
  font-family: "Core Sans C", sans-serif;
  color: white;
}
@media (max-width: 990px) {
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.hero__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}
@media (max-width: 990px) {
  .hero__bg img {
    object-position: 70% 0;
  }
}
.hero__content {
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 129px 0 132px;
  max-width: 439px;
  margin-left: 100px;
}
.hero__content > *:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .hero__content {
    max-width: 100%;
    padding: 80px 0;
    text-align: center;
    margin-left: 0;
  }
}
.hero__subtitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.hero__title {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.315px;
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 60px;
  }
}
.hero__info {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.315px;
}
.hero__link {
  font-family: "Causten", sans-serif;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 72px;
  color: #3C4242;
  background-color: white;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .hero__link:hover {
    background-color: rgba(222, 222, 222, 0.87);
  }
}
@media (max-width: 990px) {
  .hero__block-button {
    display: none;
  }
}
.hero__button {
  position: absolute;
  z-index: 5;
  transform: translateX(-50%);
}
.hero__button--left {
  left: 44px;
  top: 50%;
}
.hero__button--right {
  right: 44px;
  top: 50%;
}
.hero__button--carousel {
  left: 50%;
  bottom: 44px;
}

.discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}
@media (max-width: 800px) {
  .discount {
    grid-template-columns: 1fr;
  }
}
.discount__card {
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 66px 28px;
  color: white;
  position: relative;
}
.discount__card--yellow {
  background: #fdba45 url("../img/product/bg-yellow.jpg") top/cover no-repeat;
}
.discount__card--purple {
  background: #76598e url("../img/product/bg-purple.webp") top/cover no-repeat;
}
@media (max-width: 990px) {
  .discount__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 990px) {
  .discount__card {
    padding: 20px;
  }
}
@media (max-width: 545px) {
  .discount__card {
    padding: 20px 30px;
  }
}
.discount__content {
  position: relative;
  z-index: 5;
  color: white;
}
.discount__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.251px;
  margin-bottom: 24px;
}
.discount__title {
  max-width: 264px;
  font-size: 34px;
  line-height: 1.3;
  margin-bottom: 9px;
}
@media (max-width: 990px) {
  .discount__title {
    max-width: 195px;
  }
}
@media (max-width: 545px) {
  .discount__title {
    font-size: 20px;
  }
}
.discount__intro {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.251px;
  margin-bottom: 42px;
}
.discount__link {
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .discount__link--purple:hover {
    color: #76598e;
  }
}
@media (any-hover: hover) {
  .discount__link--yellow:hover {
    color: #fdba45;
  }
}

.arrival {
  color: #3C4242;
}
.arrival__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
@media (max-width: 545px) {
  .arrival__button {
    display: none;
  }
}

.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
}
@media (max-width: 990px) {
  .block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 545px) {
  .block {
    grid-template-columns: 1fr;
  }
}

.title {
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.68px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #3C4242;
}
.title::before {
  content: "";
  flex: 0 0 6px;
  height: 30px;
  width: 6px;
  border-radius: 10px;
  background: #8A33FD;
}
.title--mb70 {
  margin-bottom: 70px;
}
@media (max-width: 545px) {
  .title {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

.card-block img {
  width: 100%;
  aspect-ratio: 263/263;
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .card-block img:hover {
    transform: scale(1.03);
  }
}
.card-block > *:not(:last-child) {
  margin-bottom: 32px;
}
.card-block__name {
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.block-zone {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
@media (max-width: 990px) {
  .block-zone {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 750px) {
  .block-zone {
    grid-template-columns: repeat(2, 1fr);
  }
}
.block-zone__card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 64px 20px;
}
@media (max-width: 545px) {
  .block-zone__card {
    padding: 30px 20px;
  }
}
.block-zone__card--two {
  grid-column: span 2;
}
.block-zone__card--three {
  grid-column: span 3;
}
@media (max-width: 990px) {
  .block-zone__card--three {
    grid-column: span 2;
  }
}
.block-zone__card--bg-blue {
  background-color: #5dcde5;
}
.block-zone__card--bg-pink {
  background-color: #dbafac;
}
.block-zone__card--padding {
  padding: 34px 25px 41px 25px;
}
.block-zone__card--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
@media (max-width: 990px) {
  .block-zone__card--pr {
    text-align: right;
    padding: 45px 20px 50px 20px;
  }
}
@media (max-width: 990px) {
  .block-zone__card--all {
    grid-column: span 4;
    padding: 40px;
  }
}
@media (max-width: 750px) {
  .block-zone__card--all {
    grid-column: span 2;
    padding: 45px 20px 50px 20px;
  }
}
@media (any-hover: hover) {
  .block-zone__card:hover .block-zone__decor-button svg {
    transform: scale(1.3);
  }
}
@media (max-width: 990px) {
  .block-zone__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.block-zone__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 400/393;
  object-fit: cover;
  object-position: top center;
}
@media (max-width: 990px) {
  .block-zone__img-bg--left {
    object-position: top left;
  }
}
.block-zone__content {
  position: relative;
  z-index: 5;
  max-width: 174px;
  font-family: "Causten", sans-serif;
  font-weight: 600;
  color: white;
}
.block-zone__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 0.56px;
  margin-bottom: 10px;
}
.block-zone__subtitle {
  font-size: 14px;
  margin-bottom: 9px;
}
.block-zone__label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 31px;
}
.block-zone__decor-button {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.block-zone__decor-button svg {
  max-width: 100%;
  transition: transform 0.3s;
}
.block-zone__button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .block-zone__button:hover {
    background-color: rgba(0, 0, 0, 0.27);
  }
}
.block-zone__link {
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #3C4242;
  margin-bottom: 28px;
}
@media (any-hover: hover) {
  .block-zone__link:hover {
    background-color: rgba(44, 44, 44, 0.6);
  }
}
.block-zone__content--dark {
  color: #3C4242;
}
@media (max-width: 990px) {
  .block-zone__content--dark {
    color: white;
  }
}
.block-zone__content--pr {
  text-align: left;
  padding: 45px 120px 50px 20px;
}
.block-zone__content--mw {
  max-width: 133px;
}

.fashion__container {
  display: flex;
  color: white;
}
@media (max-width: 990px) {
  .fashion__container {
    flex-direction: column;
  }
}
.fashion__header {
  position: relative;
  font-family: "Causten", sans-serif;
  flex: 0 1 50%;
  background-color: #0c1e12;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 990px) {
  .fashion__header {
    border-radius: 10px;
  }
}
.fashion__header img {
  height: 100%;
  width: 100%;
  aspect-ratio: 614/640;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 990px) {
  .fashion__header img {
    border-radius: 10px;
  }
}
.fashion__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 466px;
}
@media (max-width: 545px) {
  .fashion__content {
    text-align: center;
    min-width: 250px;
  }
}
.fashion__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.208px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .fashion__title {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.fashion__text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.fashion__text > *:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .fashion__text {
    margin-bottom: 25px;
    font-size: 18px;
  }
}
.fashion__link {
  color: #3C4242;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  padding: 12px 44px;
  border-radius: 8px;
}
.fashion__footer {
  flex: 0 1 50%;
}
.fashion__footer img {
  height: 100%;
  width: 100%;
  aspect-ratio: 614/640;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 990px) {
  .fashion__footer img {
    display: none;
  }
}

.categories__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
}
.categories__body--gap36 {
  gap: 36px;
}
@media (max-width: 990px) {
  .categories__body {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
@media (max-width: 760px) {
  .categories__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 545px) {
  .categories__body {
    grid-template-columns: 1fr;
  }
}
.categories__img {
  margin-bottom: 15px;
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .categories__img:hover {
    transform: scale(1.03);
  }
}
.categories__img img {
  width: 100%;
  aspect-ratio: 270/393;
  object-fit: contain;
  border-radius: 10px;
}

.info {
  font-family: "Causten", sans-serif;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;
}
.info__content > *:not(:last-child) {
  margin-bottom: 5px;
}
.info__title {
  color: #2A2F2F;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.715px;
}
.info__subtitle {
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.536px;
}

.brands {
  color: white;
}
.brands__body {
  padding: 43px 20px 60px;
  background-color: #3C4242;
  width: 100%;
  border-radius: 12px;
  text-align: center;
}
.brands__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 26px;
}
.brands__subtitle {
  font-family: "Causten", sans-serif;
  font-size: 22px;
  margin-bottom: 67px;
}
.brands__subtitle span {
  color: #FBD103;
  font-weight: 700;
}
.brands__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.brands__card {
  transition: transform 0.3s;
}
.brands__card img {
  width: 100%;
  height: 100%;
  aspect-ratio: 178/85;
  object-fit: cover;
  border-radius: 12px;
}
@media (any-hover: hover) {
  .brands__card:hover {
    transform: scale(1.03);
  }
}

/*# sourceMappingURL=style.css.map */
