@import "reset.css";
@import "fonts.css";

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

//color

$borderColor: #BEBCBD;
$headerColor: #807D7E;
$colorActive: #3C4242;
$boxShadow: rgba(0, 0, 0, 0.40);
$colorBlack: #000;
$cardYellow: #fdba45;
$cardPink: #dbafac;
$cardBlue: #5dcde5;
$cardHero: #01b5da;
$cardPurple: #76598e;
$decor: #8A33FD;
$categories: #2A2F2F;
$categoriesSubtitle: #7F7F7F;
$colorSpan: #FBD103;

$hoverBody: rgba(255, 255, 255, 0.9);
$hoverBgColor: rgba(222, 222, 222, 0.87);
$hoverLink: rgba(44, 44, 44, 0.6);
$hoverButton: rgba(0, 0, 0, 0.27);


$mainBgColor: #ffff;
$secondBgColor: #F6F6F6;
$footerBgColor: #37393F;
$colorBgGreen: #0c1e12;


//header
.header {
  color: $headerColor;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 3px;
  border-bottom: 1px solid $borderColor;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $mainBgColor;

  &__container {
    display: flex;
    min-height: 105px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 990px) {
      min-height: 70px;
    }

    @media (max-width: 678px) {
      gap: 5px;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 10px;

    @media (max-width: 1200px) {
      column-gap: 15px;
    }

    @media (max-width: 990px) {
      flex-direction: column;
      align-items: flex-end;
      row-gap: 25px;
    }
  }

  &__item {
    &--active {
      color: $colorActive;
      font-weight: 700;
    }
  }

  &__link {
    &::after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $colorActive;
      transition: all 0.5s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    @media (max-width: 990px) {
      font-size: 30px;
    }
  }

  &__body {
    @media (max-width: 990px) {
      position: fixed;
      top: 0;
      left: 100%;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 80px 15px 30px 15px;
      background-color: $hoverBody;
      transition: left 0.3s;
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      height: 50px;
      background-color: $mainBgColor;
      z-index: 2;
      transition: left 0.3s;
    }

    @media (max-width: 678px) {
      padding: 140px 15px 30px 15px;
    }
  }
}

.menu-open {
  body {
    overflow: hidden;
  }

  @media (max-width: 990px) {
    .menu__body {
      left: 0;

      &::before {
        left: 0;
      }
    }

    .icon-menu {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }

      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
    }
  }

  @media (max-width: 678px) {
    .search {
      left: 0;
    }
  }
}

.search {
  flex: 0 1 267px;
  position: relative;

  &__input {
    padding: 12px 20px 12px 44px;
    background-color: $secondBgColor;
    border-radius: 8px;
    transition: background-color 0.3s;

    ::placeholder {
      font-family: "Causten", sans-serif;
      font-size: 16px;
      color: $headerColor;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverBgColor;
      }
    }

    @media (max-width: 678px) {
      width: 100%;
    }
  }

  @media (max-width: 678px) {
    position: fixed;
    flex-basis: 100%;
    width: 100%;
    height: 44px;
    top: 75px;
    left: 100%;
    padding: 0 20px;
    transition: all 0.3s;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translate(-50%, -50%);

    @media (max-width: 678px) {
      left: 45px;
    }
  }
}

.action {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  column-gap: 12px;

  &__link {
    padding: 12px;
    width: 44px;
    flex: 0 0 44px;
    border-radius: 8px;
    background-color: $secondBgColor;
    transition: background-color 0.3s;

    img {
      max-width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverBgColor;
      }
    }

    @media (max-width: 500px) {
      padding: 8px;
      width: 35px;
      flex: 0 0 35px;
    }
  }
}

.icon-menu {
  display: none;

  @media (max-width: 990px) {
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;

    &::before,
    &::after,
    span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: $headerColor;
      transition: transform 0.3s;
    }

    &::before {
      top: 0;
    }

    span {
      top: 50%;
      margin-top: -1px;
    }

    &::after {
      bottom: 0;
    }
  }
}

//main
.main {
  padding-top: 109px;

  > *:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 545px) {
      margin-bottom: 50px;
    }

  }

  @media (max-width: 990px) {
    padding-top: 70px;
  }
}

//hero
.hero {
  position: relative;
  min-height: calc(100vh - 109px);
  background-color: $cardHero;
  font-family: "Core Sans C", sans-serif;
  color: $mainBgColor;

  &::after {
    @media (max-width: 990px) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: $boxShadow;
    }
  }

  &__bg {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      z-index: 1;

      @media (max-width: 990px) {
        object-position: 70% 0;
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    z-index: 5;
    padding: 129px 0 132px;
    max-width: 439px;
    margin-left: 100px;

    > *:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      max-width: 100%;
      padding: 80px 0;
      text-align: center;
      margin-left: 0;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.157px;
    text-transform: capitalize;
  }

  &__title {
    font-size: 78px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.315px;

    @media (max-width: 600px) {
      font-size: 60px;
    }
  }

  &__info {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.315px;
  }

  &__link {
    font-family: "Causten", sans-serif;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    padding: 16px 72px;
    color: $colorActive;
    background-color: $mainBgColor;
    transition: background-color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverBgColor;
      }
    }
  }

  &__block-button {
    @media (max-width: 990px) {
      display: none;
    }
  }

  &__button {
    position: absolute;
    z-index: 5;
    transform: translateX(-50%);

    &--left {
      left: 44px;
      top: 50%;
    }

    &--right {
      right: 44px;
      top: 50%;
    }

    &--carousel {
      left: 50%;
      bottom: 44px;
    }
  }
}

//discount
.discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  &__card {
    font-family: "Core Sans C", sans-serif;
    font-weight: 800;
    box-shadow: 2px 2px 10px 0 $boxShadow;
    border-radius: 12px;
    padding: 66px 28px;
    color: $mainBgColor;
    position: relative;

    &--yellow {
      background: $cardYellow url("../img/product/bg-yellow.jpg") top/cover no-repeat;
    }

    &--purple {
      background: $cardPurple url("../img/product/bg-purple.webp") top/cover no-repeat;
    }

    &::after {
      @media (max-width: 990px) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: $boxShadow;
      }
    }

    @media (max-width: 990px) {
      padding: 20px;
    }

    @media (max-width: 545px) {
      padding: 20px 30px;
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    color: $mainBgColor;
  }

  &__subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.251px;
    margin-bottom: 24px;
  }

  &__title {
    max-width: 264px;
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 9px;

    @media (max-width: 990px) {
      max-width: 195px;
    }

    @media (max-width: 545px) {
      font-size: 20px;
    }
  }

  &__intro {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.251px;
    margin-bottom: 42px;
  }

  &__link {
    font-size: 20px;
    line-height: 1.5;
    text-decoration-line: underline;
    transition: color 0.3s;

    &--purple {
      @media (any-hover: hover) {
        &:hover {
          color: $cardPurple;
        }
      }
    }

    &--yellow {
      @media (any-hover: hover) {
        &:hover {
          color: $cardYellow;
        }
      }
    }
  }
}

//arrival
.arrival {
  color: $colorActive;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }

  &__button {
    @media (max-width: 545px) {
      display: none;
    }
  }

}

.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;

  @media (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 545px) {
    grid-template-columns: 1fr;
  }
}

.title {
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.68px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: $colorActive;

  &::before {
    content: "";
    flex: 0 0 6px;
    height: 30px;
    width: 6px;
    border-radius: 10px;
    background: $decor;
  }

  &--mb70 {
    margin-bottom: 70px;
  }

  @media (max-width: 545px) {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

.card-block {
  img {
    width: 100%;
    aspect-ratio: 263/263;
    object-fit: contain;
    border-radius: 12px;
    transition: transform 0.3s;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }

  }

  > *:not(:last-child) {
    margin-bottom: 32px;
  }

  &__name {
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
}

//zone
.block-zone {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  @media (max-width: 990px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 64px 20px;

    @media (max-width: 545px) {
      padding: 30px 20px;
    }

    &--two {
      grid-column: span 2;
    }

    &--three {
      grid-column: span 3;

      @media (max-width: 990px) {
        grid-column: span 2;
      }
    }

    &--bg-blue {
      background-color: $cardBlue;
    }

    &--bg-pink {
      background-color: $cardPink;
    }

    &--padding {
      padding: 34px 25px 41px 25px;
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }

    &--pr {
      @media (max-width: 990px) {
        text-align: right;
        padding: 45px 20px 50px 20px;
      }
    }

    &--all {
      @media (max-width: 990px) {
        grid-column: span 4;
        padding: 40px;
      }

      @media (max-width: 750px) {
        grid-column: span 2;
        padding: 45px 20px 50px 20px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .block-zone__decor-button {
          svg {
            transform: scale(1.3);
          }
        }
      }
    }

    &::after {
      @media (max-width: 990px) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: $boxShadow;
      }
    }
  }

  &__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 400/393;
    object-fit: cover;
    object-position: top center;

    &--left {
      @media (max-width: 990px) {
        object-position: top left;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    max-width: 174px;
    font-family: "Causten", sans-serif;
    font-weight: 600;
    color: $mainBgColor;
  }

  &__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.56px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 14px;
    margin-bottom: 9px;
  }

  &__label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 31px;
  }

  &__decor-button {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    svg {
      max-width: 100%;
      transition: transform 0.3s;
    }
  }

  &__button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 28px;
    border-radius: 4px;
    border: 1px solid;
    transition: background-color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverButton;
      }
    }
  }

  &__link {
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    background-color: $colorActive;
    margin-bottom: 28px;

    @media (any-hover: hover) {
      &:hover {
        background-color: $hoverLink;
      }
    }
  }

  &__content {
    &--dark {
      color: $colorActive;

      @media (max-width: 990px) {
        color: $mainBgColor;
      }
    }

    &--pr {
      text-align: left;
      padding: 45px 120px 50px 20px;
    }

    &--mw {
      max-width: 133px;
    }
  }
}

//fashion
.fashion {

  &__container {
    display: flex;
    color: $mainBgColor;

    @media (max-width: 990px) {
      flex-direction: column;
    }
  }

  &__header {
    position: relative;
    font-family: "Causten", sans-serif;
    flex: 0 1 50%;
    background-color: $colorBgGreen;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @media (max-width: 990px) {
      border-radius: 10px;
    }

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 614/640;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      @media (max-width: 990px) {
        border-radius: 10px;
      }
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 466px;

    @media (max-width: 545px) {
      text-align: center;
      min-width: 250px;
    }
  }

  &__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: 0.208px;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 500px) {
      margin-bottom: 15px;
      font-size: 20px;
    }

  }

  &__text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;

    > *:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: 500px) {
      margin-bottom: 25px;
      font-size: 18px;
    }
  }

  &__link {
    color: $colorActive;
    font-size: 18px;
    font-weight: 600;
    background-color: $mainBgColor;
    padding: 12px 44px;
    border-radius: 8px;
  }

  &__footer {
    flex: 0 1 50%;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 614/640;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      @media (max-width: 990px) {
        display: none;
      }
    }
  }
}

//categories
.categories {
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;

    &--gap36 {
      gap:36px;
    }

    @media (max-width: 990px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }

    @media (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 545px) {
      grid-template-columns: 1fr;
    }

  }

  &__img {
    margin-bottom: 15px;
    transition: transform 0.3s;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }

    img {
      width: 100%;
      aspect-ratio: 270/393;
      object-fit: contain;
      border-radius: 10px;
    }
  }
}

.info {
  font-family: "Causten", sans-serif;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;

  &__content {
    > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__title {
    color: $categories;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.715px;
  }

  &__subtitle {
    color: $categoriesSubtitle;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.536px;
  }
}

//brands
.brands {
  color: $mainBgColor;

  &__body {
    padding: 43px 20px 60px;
    background-color: $colorActive;
    width: 100%;
    border-radius: 12px;
    text-align: center;
  }

  &__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 26px;
  }

  &__subtitle {
    font-family: "Causten", sans-serif;
    font-size: 22px;
    margin-bottom: 67px;

    span {
      color: #FBD103;
      font-weight: 700;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__card {
    transition: transform 0.3s;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 178/85;
      object-fit: cover;
      border-radius: 12px;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

